<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distribusi Probabilitas Binomial - Studi Kasus Solve Rubik</title>
    <!-- Link ke file CSS -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- MathJax untuk menampilkan notasi matematika -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
    <h1>Distribusi Probabilitas Binomial - Penyelesaian Rubik di Bawah 15 Detik dalam 1 Sesi</h1>
    <form id="rubik-form">
        <label for="n">n (Jumlah Percobaan) (Banyaknya Solve):</label>
        <input type="number" id="n" name="n" required>

        <label for="p">p (Probabilitas Sukses Solve Under 15s dalam 1 sesi):</label>
        <input type="number" step="0.01" id="p" name="p" required>

        <label for="k">k (Jumlah Keberhasilan yang diinginkan):</label>
        <input type="number" id="k" name="k" required>

        <button type="submit">Hitung</button>
    </form>

    <div id="result"></div>
    <div id="steps"></div>
    <img id="distribution-plot" alt="Plot Distribusi" style="display: block; margin-top: 20px;">

    <!-- Link ke file JavaScript -->
    <script src="/static/script.js"></script>
</body>
</html>
